body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}
#gifInput {
    width: 300px;
}
#gifResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
.gifCard {
    margin: 10px;
    max-width: 200px;
}